@using Inv.WebUI.Resources

@{
    Layout = "~/Views/Shared/Layout.cshtml";
    ViewBag.Title = SystemResource.Branch;
}


<div class="row">
    @*right side*@
    <div class="col-md-3 Div_Tree CustomStyleTree bg-white">
        <div id="left" class="col-12 span3">
            <div class="controleTree">
                <input class="form-control customInputSearch" autocomplete="off" id="Tree_search" type="text">
                <span data-toggle="collapse" class="Refrash">
                    <a id="Refrash" href="#" title="Refrash">
                        <span data-toggle="collapse">
                            <i id="RE" class="fas fa-sync-alt" style="color: #e26d09;"></i>
                        </span>
                    </a>
                </span>
            </div>
            <div id='Tree'></div>
        </div>
    </div>

    @*left side*@
    <div class="col-md-9 Div_Tree bg-white max-h-500 p-3">
        <div class="row">
            <div class="col-12 row mb-3">
                <label class="col-md-1">كود</label>
                <div class="col-md-3">
                    <input id="txt_StoreCode" disabled name="StoreCode" type="text" class="form-control input-sm  text_Display addable searchable">
                </div>

                <div class="col-md-1">
                    <button type="button" class="src-btn btn btn-warning xaddable xeditable" id="btnbranchSearch" name="btnSearch">
                        <i class="fa fa-search"></i>
                    </button>
                </div>

                <label class="col-md-1">رئيسى</label>
                <div class="col-md-1">
                    <input type="checkbox" class="checkbox addable editable" disabled id="chkeck_StoreType" name="StoreType">
                </div>

                <label class="col-md-1">الاسم</label>
                <div class="col-md-4">
                    <input id="txt_StoreDescA" disabled name="StoreDescA" type="text" class="form-control input-sm  text_Display addable editable">
                </div>
            </div>
            
            <div class="col-12 row mb-3">
                <label class="col-md-1">الخزينة</label>
                <div class="col-md-5">
                    <select class="form-control input-sm  text_Display addable editable" id="ddlBoxBank" name="BoxBank"></select>
                </div>
                <label class="col-md-2">مسئول الفرع</label>
                <div class="col-md-4">
                    <input id="txt_StoreKeeper" disabled name="StoreKeeper" type="text" class="form-control input-sm  text_Display addable editable">
                </div>
            </div>

            <div class="col-12 row mb-3">
                <label class="col-md-2"> موقع الفرع</label>
                <div class="col-md-5">
                    <input id="txt_StorePosition" disabled name="StorePosition" type="text" class="form-control input-sm  text_Display addable editable">
                </div>
                
                <label class="col-md-1">التلفون</label>
                <div class="col-md-4">
                    <input id="txt_Tel" disabled name="Tel" type="text" class="form-control input-sm  text_Display addable editable">
                </div>
            </div>

            <label class="col-12 text-center text-primary font-weight-bold font-18 mt-3"> المخازن التابعة للفرع</label>
        </div>

        <div class="col-lg-12" style=" overflow:auto">
            <table data-Sub="true" data-main="mainTable" id="divPartitionGrid"></table>
        </div>
    </div>
</div>

<script src="~/ClientApp/Pages/Definitions/DefBranches.js"></script>
