
@{
    ViewBag.Title = "AdminHome";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<style>
</style>

<div class="col-xs-12"style="margin-top:15%!important">
    <div class="col-xs-2">

    </div>
    <div class="col-xs-3">
        <a href="/Home/AdminCompIndex">

            <img style="border-radius:56%!important" src="~/images/Background/imagescomp (1).jpg" />

        </a>
    </div>
    <div class="col-xs-2">
     </div>
    <div class="col-xs-3">
        <a href="/Home/AdminBarIndex">
            <img style="border-radius:56%!important" src="~/images/Background/imagesbra.jpg" />
        </a>
    </div>
    <div class="col-xs-2">

    </div>
</div>
