
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flexible Slide-to-top Accordion</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Flexible Slide-to-top Accordion" />
    <meta name="keywords" content="accordion, jquery, flexible, responsive, slide to top, tabs, UI, web design" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../../favicon.ico">

    <link href="../../css/help/sm-core-css.css" rel="stylesheet" type="text/css" />

    <link href="../../css/help/sm-blue/sm-blue.css" rel="stylesheet" type="text/css" />

    <link href="../../css/help/animate.css" rel="stylesheet">



    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../../Scripts/help/js/jquery-loader.js"></script>
    <script type="text/javascript" src="../../Scripts/help/js/jquery.smartmenus.js"></script>
    <script type="text/javascript">
    $(function () {
        $('#main-menu').smartmenus({
            subMenusSubOffsetX: 1,
            subMenusSubOffsetY: -8
        });
    });
    </script>

    <style type="text/css">
        #main-menu {
            position: relative;
            z-index: 8888;
            width: auto;
        }
    </style>

</head>
<body>

    <div class="jumbotron">
        <div class="container">
            <h1 class="glow in tlt">Sales System help</h1>
            <p class="tlt" data-in-effect="bounceInDown">
                A simple plugin for CSS3 text animations.
            </p>
        </div>
    </div>



    <div class="wrapper">



        <ul id="main-menu" class="sm sm-blue">
            <li>
                <a href="#" class="hide_item">Sales</a>
                <ul>
                    <li id="Items">
                        <a href="#" class="child_item">Item Def </a>
                        <ul class="mega-menu">
                            <li>
                                <!-- The mega drop down contents -->
                                <div style="width:100%;max-width:100%;">
                                    <div style="padding:2px 24px;" class="p_style">
                                        <p style="text-align:justify;">
                                            This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain
                                            This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain
                                            This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain
                                        </p>
                                        <img src="/RetailINV/images/help/3.jpg" width="25%" alt="">
                                        <p>
                                            This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain
                                            This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain
                                            This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain
                                        </p>

                                    </div>
                                </div>
                            </li>
                        </ul>

                    </li>
                    <li id="CatData">
                        <a href="#" class="child_item">Category Data</a>
                        <ul class="mega-menu">
                            <li>
                                <!-- The mega drop down contents -->
                                <div style="width:100%;max-width:100%;">
                                    <div style="padding:2px 24px;" class="p_style">
                                        <p style="text-align:justify;">
                                            This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain
                                            This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain
                                            This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain
                                        </p>
                                        <img src="/RetailINV/images/help/3.jpg" width="25%" alt="">
                                        <p>
                                            This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain
                                            This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain
                                            This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain
                                        </p>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li id="CustomerInformation"><a href="#" class="child_item">Customer Information</a></li>
                    <li id="CashCust"><a href="#" class="child_item">Cash Customer</a>    </li>
                    <li id="CashCustCat"><a href="#" class="child_item">Cash Customer Category</a>    </li>
                    <li id="SalesMan"><a href="#" class="child_item">Sales Man</a></li>
                    <li id="DefNationlity"><a href="#" class="child_item">Nationality</a></li>
                </ul>
            </li>


            <li>
                <a href="#" class="hide_item">Transiaction</a>
                <ul>
                    <li id="TRSLSINVOICERETAIL"><a href="#" class="child_item">Retail Invoice</a></li>
                    <li id="TRSLSINVOICECHKWHOLE"><a href="#" class="child_item">Cash Whole Invoice</a></li>
                    <li id="CreditWholeInv"><a href="#" class="child_item">Credit Whole Inv</a></li>
                    <li id="TRSLSRETURN">
                        <a href="#" class="child_item">Retail Sale Return</a>
                        <ul class="mega-menu">
                            <li id="TRSLSQUOTATION"><a href="#" class="child_item">Issue Quatation</a></li>
                            <li id="AdvertiseInv"><a href="#" class="child_item">AdvertiseInv</a></li>

                        </ul>
                    </li>
                </ul>
            </li>


            <li>
                <a href="#" class="hide_item">

                    cashier
                </a>
                <ul>
                    <li id="CashierClose"><a href="#" class="child_item">Cashier Close</a></li>
                    <li id="CustomerRecepit"><a href="#" class="child_item">Customer Reciepe</a></li>
                    <li id="CustomerAdjustment"><a href="#" class="child_item">Customer Adjustement</a></li>
                    <li>
                        <a href="#" class="child_item">Reports</a>
                        <ul class="mega-menu">
                            <li id="CashBoxReport"><a href="#" class="child_item">Cash Box Report</a></li>
                            <li id="CashBoxList"><a href="#" class="child_item">Cash Box Tr.List</a></li>

                        </ul>
                    </li>

                </ul>
            </li>

            <li>
                <a href="#" class="hide_item">

                    Reports
                </a>
                <ul>
                    <li>
                        <a href="#" class="child_item">Inventory Reports</a>
                        <ul class="mega-menu">
                            <li id="PartsTransferTransactions"><a href="#">Parts Transfer Trans List</a></li>
                            <li id="StockMovments"><a href="#">Stock Movement</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="child_item">Sales Reports</a>
                        <ul class="mega-menu">
                            <li id="SalesSummary"><a href="#" class="child_item">Sales Summary</a></li>
                            <li id="MonthlySalesSummary"><a href="#" class="child_item">Monthly Sales Summary</a></li>
                            <li id="SalesTransactionList"><a href="#" class="child_item">List of Sales Trans</a></li>
                            <li id="BranchesSales"><a href="#" class="child_item"> Sales By Branch</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="child_item3">Customer Reports</a>
                        <ul class="mega-menu3">
                            <li id="CustomerAging">
                                <a href="#" class="child_item2">Customer Aging</a>


                                <ul class="mega-menu2">
                                    <li>
                                        <!-- The mega drop down contents -->
                                        <div style="width:100%;max-width:100%;">
                                            <div style="padding:2px 24px;" class="p_style">
                                                <p style="text-align:justify;">
                                                    This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain
                                                    This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain
                                                    This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain
                                                </p>
                                                <img src="/RetailINV/images/help/3.jpg" width="25%" alt="">
                                                <p>
                                                    This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain
                                                    This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain
                                                    This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain This is a mega drop down test. Just set the "mega-menu" class to the parent UL element to inform the SmartMenus script. It can contain
                                                </p>

                                            </div>
                                        </div>
                                    </li>
                                </ul>



                            </li>
                            <li id="RSLSCustActivity"><a href="#/">Cash Customer Activity</a></li>
                            <li id="CustomerStatement"><a href="#">Customer Statement</a></li>

                        </ul>
                    </li>

                </ul>
            </li>



            <li>
                <a href="#" class="hide_item">
                    close
                </a>

            </li>


            <li>
                <a href="#">Sub test</a>
                <ul>
                    <li><a href="#">Dummy item</a></li>
                    <li><a href="#">Dummy item</a></li>
                    <li><a href="#" class="disabled">Disabled menu item</a></li>
                    <li><a href="#">Dummy item</a></li>
                    <li>
                        <a href="#">more...</a>
                        <ul>
                            <li><a href="#">A pretty long text to test the default subMenusMaxWidth:20em setting for the sub menus</a></li>
                            <li><a href="#">Dummy item</a></li>
                            <li><a href="#">Dummy item</a></li>
                            <li><a href="#">Dummy item</a></li>
                            <li><a href="#">Dummy item</a></li>
                            <li><a href="#">Dummy item</a></li>
                            <li>
                                <a href="#">more...</a>
                                <ul>
                                    <li><a href="#">Dummy item</a></li>
                                    <li><a href="#" class="current">A 'current' class item</a></li>
                                    <li><a href="#">Dummy item</a></li>
                                    <li>
                                        <a href="#">more...</a>
                                        <ul>
                                            <li><a href="#">subMenusMinWidth</a></li>
                                            <li><a href="#">10em</a></li>
                                            <li><a href="#">forced.</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Dummy item</a></li>
                                    <li><a href="#">Dummy item</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>


        </ul>



    </div>


    <script src="../Scripts/help/js/jquery.fittext.js"></script>
    <script src="../Scripts/help/js/jquery.lettering.js"></script>
    <script src="../Scripts/help/js/highlight.min.js"></script>
    <script src="../Scripts/help/js/jquery.textillate.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>
    $(function () {
        var log = function (msg) {
            return function () {
                if (console) console.log(msg);
            }
        }
        $('code').each(function () {
            var $this = $(this);
            $this.text($this.html());
        })

        var animateClasses = 'flash bounce shake tada swing wobble pulse flip flipInX flipOutX flipInY flipOutY fadeIn fadeInUp fadeInDown fadeInLeft fadeInRight fadeInUpBig fadeInDownBig fadeInLeftBig fadeInRightBig fadeOut fadeOutUp fadeOutDown fadeOutLeft fadeOutRight fadeOutUpBig fadeOutDownBig fadeOutLeftBig fadeOutRightBig bounceIn bounceInDown bounceInUp bounceInLeft bounceInRight bounceOut bounceOutDown bounceOutUp bounceOutLeft bounceOutRight rotateIn rotateInDownLeft rotateInDownRight rotateInUpLeft rotateInUpRight rotateOut rotateOutDownLeft rotateOutDownRight rotateOutUpLeft rotateOutUpRight hinge rollIn rollOut';

        var $form = $('.playground form')
          , $viewport = $('.playground .viewport');

        var getFormData = function () {
            var data = {
                loop: true,
                in: { callback: log('in callback called.') },
                out: { callback: log('out callback called.') }
            };

            $form.find('[data-key="effect"]').each(function () {
                var $this = $(this)
                  , key = $this.data('key')
                  , type = $this.data('type');

                data[type][key] = $this.val();
            });

            $form.find('[data-key="type"]').each(function () {
                var $this = $(this)
                  , key = $this.data('key')
                  , type = $this.data('type')
                  , val = $this.val();

                data[type].shuffle = (val === 'shuffle');
                data[type].reverse = (val === 'reverse');
                data[type].sync = (val === 'sync');
            });

            return data;
        };

        $.each(animateClasses.split(' '), function (i, value) {
            var type = '[data-type]'
              , option = '<option value="' + value + '">' + value + '</option>';

            if (/Out/.test(value) || value === 'hinge') {
                type = '[data-type="out"]';
            } else if (/In/.test(value)) {
                type = '[data-type="in"]';
            }

            if (type) {
                $form.find('[data-key="effect"]' + type).append(option);
            }
        });

        $form.find('[data-key="effect"][data-type="in"]').val('fadeInLeftBig');
        $form.find('[data-key="effect"][data-type="out"]').val('hinge');

        $('.jumbotron h1')
          .fitText(1, { maxFontSize: 35 })
          .textillate({ in: { effect: 'flipInY' } });

        $('.jumbotron p')
          .fitText(3.2, { maxFontSize: 18 })
          .textillate({ initialDelay: 1000, in: { delay: 3, shuffle: true } });

        setTimeout(function () {
            $('.fade').addClass('in');
        }, 250);

        setTimeout(function () {
            $('h1.glow').removeClass('in');
        }, 2000);

        var $tlt = $viewport.find('.tlt')
          .on('start.tlt', log('start.tlt triggered.'))
          .on('inAnimationBegin.tlt', log('inAnimationBegin.tlt triggered.'))
          .on('inAnimationEnd.tlt', log('inAnimationEnd.tlt triggered.'))
          .on('outAnimationBegin.tlt', log('outAnimationBegin.tlt triggered.'))
          .on('outAnimationEnd.tlt', log('outAnimationEnd.tlt triggered.'))
          .on('end.tlt', log('end.tlt'));

        $form.on('change', function () {
            var obj = getFormData();
            $tlt.textillate(obj);
        }).trigger('change');

    });

    </script>
    <script>
      window.twttr = (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {}; if (d.getElementById(id)) return t; js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); t._e = []; t.ready = function (f) { t._e.push(f); }; return t; }(document, "script", "twitter-wjs"));
    </script>

</body>
</html>	