body {
}
.dropdown-menu {
    float: left !important;
    text-align: right !important;
}

#btnseasons:hover {
    cursor: pointer !important;
}

 
 
.containerimgfluid {
    background-image: url(../../images/Background/containerimgfluid.jpg.jpg)
}

.select2-selection {
    border-radius: 15px !important;
}

.classright208 {
    right: 208px;
}

.media_bading {
}

.fontitm3:hover {
    color: #f53a3a !important;
}

.border_gridCont {
    border: inset 3px #f1910f63;
    border-radius: 30px;
    margin-top: .5%;
}

.center_align {
    text-align: center !important
}

.styleHelp {
    /*margin-right: 10%;*/
    font-size: 31px;
    color: white;
    z-index: 999;
 }

.border_butoom_heder {
    border-bottom: solid 3px #f1910f63 !important;
}

.scroll {
    top: 0px !important;
    overflow: scroll !important
}

    .scroll::-webkit-scrollbar {
        display: none;
    }

.display_none {
    display: none !important;
}

.styleHelp {
    cursor: pointer !important
}

input :disabled {
    background-color: #eee !important;
}

.text_Edit {
    background-color: white !important;
}

.text_Mandatory {
    background-color: #f39c9c !important;
}

#notification:hover {
    cursor: pointer !important
}


.justify-content-center {
    justify-content: center !important;
}

.d-flex {
    display: flex !important;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

.back-to-top i {
    font-size: 25px;
    color: #fff;
    line-height: 0;
    /*top: 49%;*/
}

#SearchDataTable .odd {
    background-color: #b1e7ff !important
}

#SearchDataTable tbody {
    font-size: 15px !important;
    font-weight: bold !important;
}

#SearchDataTable {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.mCS_no_scrollbar {
    height: 293px !important;
}

.dropdown-menu {
    float: left !important;
    text-align: right !important;
}
.i_toolpar {
    right: 20%;
    font-size: 20px;
    color: white;
}

/*//////////////////////////////// style button /////////////////////////////*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
.EditBtn {
    background: #404040;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;
    margin: 0 0 2em;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    border: 1px solid;
    padding: unset;
    width: 70px;
}

@media (min-width: 600px) {
    .EditBtn {
        margin: 0 1em .5em;
    }
}

.EditBtn:hover {
    text-decoration: none;
}

.EditBtn svg {
    height: 35px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.EditBtn rect {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
    transition: all 0.35s linear;
}

.EditBtn:hover {
    background: rgba(225, 51, 45, 0);
    font-weight: 900;
    letter-spacing: 1px;
}

.EditBtn:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
#searchDes {
    margin: 13px auto;
    padding-bottom: 10px !important;
    font-weight: bold;
    color: #717171;
    border-bottom: 1px solid #ddd;
}