<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>  Orange</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/images/logokids.png" rel="icon">
    <link href="~/Website/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="~/Website/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/Website/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Website/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Website/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Website/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Website/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Website/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Website/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Website/assets/css/style.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Style_design/textplassandminus.css" rel="stylesheet" />
    <!-- =======================================================
    * Template Name: Selecao - v4.2.0
    * Template URL: https://bootstrapmade.com/selecao-bootstrap-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
    <style>




        .display_none {
            display: none!important;
        }

        .text_control {
            border-radius: 7px;
            border: 1px solid #CCC;
            padding: 2px;
            outline: none;
            font-size: 13px;
        }

        #login_, #btnOk, #btnLogin {
            cursor: pointer !important;
        } 
        
        .quantity .input-text.qty {
            width: 64%;
            height: 29px;
            padding: 0px;
            text-align: center;
            background-color: transparent;
            border: 1px solid #efefef;
        }
        .quantity {
            display: inline-block;
            margin-top: 5px !important;
        }
        input,button,select,optgroup,textarea {
         margin: 1px; 

  
 
}
    </style>
</head>

<body >
    <script src="~/ClientApp/Entities.js"></script>
    <script src="~/ClientApp/Shared.js"></script>
    <script src="~/ClientApp/App.js"></script>
    <script src="~/ClientApp/SystemTools.js"></script>
    <script src="~/ClientApp/AjaxCaller.js"></script>

    <input type="hidden" id="OnLogged" name="name" value="@Url.Action("OnLogged","Login")" />
    <input type="hidden" id="GetAPIUrl" name="name" value="@System.Configuration.ConfigurationManager.AppSettings["ServiceUrl"]" />
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="logo">
                <h1><a href="#" style="color:orangered">Orange</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">الرئيسية</a></li>
                    <li><a class="nav-link scrollto" href="#about">حول</a></li>
                    @*<li><a class="nav-link scrollto" href="#services">خدمات</a></li>*@
                    @*<li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>*@
                    @*<li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>*@
                    @*<li><a class="nav-link scrollto" href="#team">Team</a></li>*@
                    @*<li class="dropdown">
                        <a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown">
                                <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li>*@
                    <li><a class="nav-link scrollto" href="#contact">اتصل بنا</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header>
    <!-- End Header -->
    <!-- ======= Login Section ======= -->
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
        <section id="cta" class="col-lg-12 cta ">
            <div class="container">
                <div class="row" data-aos="zoom-out">
                    <div class="col-lg-2 cta-btn-container text-center">
                    </div>
                    <div class="col-lg-7 text-center text-lg-start">
                        <div id="div_pass" style="" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display_none ">
                            <input id="txtUserName" type="text" name="name" value="" placeholder="إسم المستخدم/User Name" class="text_control input-sm col-lg-4 col-md-4 col-sm-4 col-xs-4" />
                            <input id="txtUserPassword" type="password" name="name" value="" style="right: 4px;z-index:999" placeholder="كلمة السر/Password" class="text_control input-sm col-lg-3 col-md-3 col-sm-3 col-xs-3" />
                     
                            <input type="checkbox" style="margin-right:10px"class="" id="chkRemember" />
                            <label class="   col-lg-2 col-sm-2" style="color:white!important" id="">RememberMe</label>
                        
                            
                        </div>
                        <div id="divCompanies" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 display_none ">
                            <div id="" class="col-lg-12 col-md-12 col-sm-6 col-xs-12 ">
                                <select class=" text_control input-sm col-lg-6 col-sm-6 col-xs-6 " id="cmbCompany" name="CompCode"></select>
                                <select class="text_control input-sm col-lg-2 col-sm-2 col-xs-3" id="cmbLanguage">
                                    <option value="ar">عربي</option>
                                    <option value="en">English</option>
                                </select>
                                <select class="  text_control input-sm col-lg-6 col-sm-6" id="cmbBranch" style="" name="Language"></select>
                                <div class="quantity buttons_added col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                    <i class="bi bi-chevron-down minus col-lg-2 col-md-2 col-sm-2" style="font-size:19px"></i>
                                    <input style="background-color:aliceblue!important" type="number" id="txtYear" step="1" min="1" max="" name="quantity" value="2021" title="Qty" class="input-text qty text col-lg-8 col-md-8 col-sm-8" size="4" pattern="" inputmode="">
                                    <i class="bi bi-chevron-up plus col-lg-2 col-md-2 col-sm-2" style="font-size:19px"></i>
                                </div>
                            </div>
                            @*<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 ">                                  
                                @*<input type="submit" class="login_btn btn btn-success  text_control input-sm col-lg-8 col-sm-8" id="btnOk" value="Enter " style="" />
                               
                             
                            </div>*@
                        </div>
                    </div>
                    <div id="btn_login_1" class="col-lg-3 cta-btn-container text-center">
                        <a id="login_" class="cta-btn align-middle">دخول/Login</a>
                    </div>
                    <div id="btn_login_2" class="col-lg-3 cta-btn-container text-center display_none">
                        <a id="btnLogin" class="cta-btn-login align-middle btn-success"> Enter </a> 
                    </div>
                    <div id="btn_login_3" class="col-lg-3 cta-btn-container text-center display_none">
                        <a   id="btnOk" class="cta-btn-login align-middle btn-success"> Enter </a>
 
                    </div>
                    <script>

                             
                     </script>
                    <h1 class="display_none" id="hLoggedName"></h1>
                    <span id="spnLoggedYear" class="date_login display_none"> </span>
                </div>
            </div>
        </section><!-- End Login Section -->
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">   حالياً بالمملكة  <span>  نظام أورانج </span></h2>
                    <p class="animate__animated fanimate__adeInUp">أول نظام متخصص في أسوق الفاكهة والخضار</p>
                    @*<a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>*@
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown"> مارس متعة الإدارة المرنة والتميز </h2>
                    <p class="animate__animated animate__fadeInUp">سهولة إدارة البيع والشراءوالسداد والقبض </p>
                    <p class="animate__animated animate__fadeInUp">نظام سحابي  يدعم جميع أجهزة الكمبيوتر والأجهزة اللوحية </p>
                    <p class="animate__animated animate__fadeInUp"> نظام سحابي لا يطلب وجود شبكة ولا سيرفرات  </p>
                    @*<a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>*@
                </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown"> تحصل على كل شيء بدون الحاجة الى خوادم وشبكات داخلية</h2>
                    <p class="animate__animated animate__fadeInUp"> الحصول على قاعدة معلومات كاملة ومؤمنة دون اعباء اضافية  </p>
                    <p class="animate__animated animate__fadeInUp"> أول نظام متخصص في أسوق الفاكهة والخضار  </p>
                    @*<a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>*@
                </div>
            </div>
            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
            <defs>
                <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
            </defs>
            <g class="wave1">
                <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
            </g>
            <g class="wave2">
                <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
            </g>
            <g class="wave3">
                <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
            </g>
        </svg>
    </section><!-- End Hero -->
    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">
                <div class="section-title" data-aos="zoom-out">
                    <h2>About</h2>
                    <p>Orange /أورنج</p>
                </div>
                <div class="row content" data-aos="fade-up">
                    <div class="col-lg-6" style="font-size: 20px;">
                        @*<p>
                            كل الاعمل أصبحت آلية ودقيقة
                        </p>*@
                        <ul>
                            <li>نظام سحابي لا يطلب وجود شبكة ولا سيرفرات <i class="ri-check-double-line"></i></li>
                            <li> متوافق مع نظام الضريبة <i class="ri-check-double-line"></i></li>
                            <li> يدعم الفاتورة الالكترونية <i class="ri-check-double-line"></i></li>
                            <li>سداد فواتير البيع النقدية إدارة عمليات البيع بسرعة ودقة ومرونة <i class="ri-check-double-line"></i></li>
                            <li> متابعة حساب الصندوق النقدي والكارت <i class="ri-check-double-line"></i></li>
                            <li> متابعة حسابات عملاء الأجل <i class="ri-check-double-line"></i></li>
                            <li> متابعة المشتريات وحسابات موردين الأجل  <i class="ri-check-double-line"></i></li>
                            <li>متابعة المخزون بمرونة وتتناسب مع طبيعةالعمل<i class="ri-check-double-line"></i>  </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0" style="font-size: 20px;">
                        <div class="section-title" data-aos="zoom-out">

                            <div class="section-title" data-aos="zoom-out">
                                <h2>Presentation</h2>
                             </div>
 
                        </div>
                        <ul>
                            <li>  <iframe style="width: 99%;border-radius: 6px;margin-bottom: 0px;" width="560" height="315" src="https://www.youtube.com/embed/nd5Id_TqRNk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>

                        </ul>
                        <a href="#" class="btn-learn-more">Learn More</a>
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->
        <!-- ======= Features Section ======= -->
        <section id="features" class="features">
            <div class="container">
                <ul class="nav nav-tabs row d-flex">
                    <li class="nav-item col-3" data-aos="zoom-in">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                            <i class="ri-gps-line"></i>
                            <h4 class="d-none d-lg-block">كل الاعمل أصبحت آلية ودقيقة</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                            <i class="ri-body-scan-line"></i>
                            <h4 class="d-none d-lg-block">تسجيل المصروفات النثرية</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                            <i class="ri-sun-line"></i>
                            <h4 class="d-none d-lg-block">سدادفواتير الشراء النقدية </h4>
                        </a>
                    </li>
                    <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
                            <i class="ri-store-line"></i>
                            <h4 class="d-none d-lg-block">متابعة المخزون بمرونة وتتناسب مع طبيعةالعمل</h4>
                        </a>
                    </li>
                </ul>
                <div class="tab-content" data-aos="fade-up">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0"style="font-size: 20px;">
                                <h3>مارس متعة الإدارة المرنة والتميز</h3>
                                @*<p class="fst-italic">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                        magna aliqua.
                                    </p>*@
                                <ul>
                                    <li><i class="ri-check-double-line"></i> سهولة إدارة البيع والشراءوالسداد والقبض</li>
                                    <li><i class="ri-check-double-line"></i> نظام سحابي  يدعم جميع أجهزة الكمبيوتر والأجهزة اللوحية</li>
                                    <li><i class="ri-check-double-line"></i> متوافق مع نظام الضريبة</li>
                                    <li><i class="ri-check-double-line"></i> يدعم الفاتورة الالكترونية  </li>
                                </ul>
                                @*<p>
                                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum
                                    </p>*@
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="~/Website/assets/img/features-2.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0"style="font-size: 20px;">
                                <h3>نظام محاسبة مرن</h3>
                               
                                <ul>
                                    <li><i class="ri-check-double-line"></i>• تصنيف  مرن للحسابات</li>
                                    <li><i class="ri-check-double-line"></i>• شجرة حسابات جاهزة وتتناسب مع النشاط </li>
                                    <li><i class="ri-check-double-line"></i>• القيد والحركات المحاسبية</li>
                                    <li><i class="ri-check-double-line"></i>• كشوف الحسابات ولاستاذ العام </li>
                                    <li><i class="ri-check-double-line"></i>• مميزان المراجعة وبيان الدخل والميزانية </li>
                                    <li><i class="ri-check-double-line"></i>• تقييم عمليات العمولة حسب الربح \المود</li>
                                    <li><i class="ri-check-double-line"></i>•  تقييم الاصناف حسب كمية ( البيع \ الربح \ التالف)</li>
                                    <li><i class="ri-check-double-line"></i>• تقييم العملاء حسب قيمة المبيعات \ سرعة السداد</li>
                                    <li><i class="ri-check-double-line"></i>• تقييم المناديب حسب قيمة المبيعات \  الربح  </li>

                                    
                                </ul>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="~/Website/assets/img/features-1.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" style="font-size: 20px;">
                                <h3> أسرع نظام يساعدك علي سداد فواتيرالبيع و الشراء في وقت قياسي </h3>

                                <ul>


                                    <li><i class="ri-check-double-line"></i>• سداد فواتير البيع النقدية  </li>
                                    <li><i class="ri-check-double-line"></i>• سدادفواتير الشراء النقدية  </li>
                                    <li><i class="ri-check-double-line"></i>• تسجيل المصروفات النثرية  </li>
                                    <li><i class="ri-check-double-line"></i>• طباعة حركة الصندوق النقدية والكروت  </li>
                                    <li><i class="ri-check-double-line"></i>• إيداع البنك وحساب رصيد الصندوق  </li>
                                    <li><i class="ri-check-double-line"></i>• فتح حساب خاص بكل تريلا</li>
                                    <li><i class="ri-check-double-line"></i>• حصر جميع مصروفات التريلا</li>
                                    <li><i class="ri-check-double-line"></i>• حصر مبيعات التريلا بمعزول عن مبيعات السوق </li>
                                    <li><i class="ri-check-double-line"></i>• إغلاق ألي لحسابات التريلا وحساب العمولات</li>
                                    <li><i class="ri-check-double-line"></i>• حساب التالف والفارغ للتريلا واستحقاق المورد</li>
                                </ul>

                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="~/Website/assets/img/features-3.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-4">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 style="font-size: 20px;"">
                                <h3>مع نظام اورانج الساحابي</h3>

                                <ul>
                                    <li><i class="ri-check-double-line"></i>• يدعم شاشات اللمس والأجهزة اللوحية ونقاط البيع</li>
                                    <li><i class="ri-check-double-line"></i>• يمكن من تشغيله متابعة العمل عن بعد </li>
                                    <li><i class="ri-check-double-line"></i>• ثنائي اللغة</li>
                                    <li><i class="ri-check-double-line"></i>• مؤمن ضد الفيروسات والاخترقات</li>
                                    <li><i class="ri-check-double-line"></i>• إدارة عمليات البيع بسرعة ودقة ومرونة </li>
                                    <li><i class="ri-check-double-line"></i>• متابعة حساب الصندوق النقدي والكارت </li>
                                    <li><i class="ri-check-double-line"></i>• متابعة حسابات عملاء الأجل </li>
                                    <li><i class="ri-check-double-line"></i>• متابعة المشتريات وحسابات موردين الأجل  </li>
                                    <li><i class="ri-check-double-line"></i>•متابعة المخزون بمرونة وتتناسب مع طبيعةالعمل  </li>
                                    <li><i class="ri-check-double-line"></i>• متعدد البائعين \ متعدد الصنديق </li>
                                    <li><i class="ri-check-double-line"></i>• متابعة مناديب المبيعات وحساب العمولات</li>
                                    <li><i class="ri-check-double-line"></i>• يمكن إضافة مستودعات إضافية</li>

                                </ul>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="~/Website/assets/img/features-4.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Features Section -->
        <!-- ======= Cta Section ======= -->
        @*<section id="cta" class="cta">
            <div class="container">

                <div class="row" data-aos="zoom-out">
                    <div class="col-lg-9 text-center text-lg-start">
                        <h3>Call To Action</h3>
                        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" href="#">Call To Action</a>
                    </div>
                </div>

            </div>
        </section>*@<!-- End Cta Section -->
        <!-- ======= Services Section ======= -->
        @*<section id="services" class="services">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Services</h2>
                    <p>  ماذا نقدم  </p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box" data-aos="zoom-in-left">
                            <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
                            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                        <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
                            <div class="icon"><i class="bi bi-book" style="color: #e9bf06;"></i></div>
                            <h4 class="title"><a href="">Dolor Sitema</a></h4>
                            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
                        <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
                            <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
                            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
                            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-5">
                        <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="300">
                            <div class="icon"><i class="bi bi-binoculars" style="color:#41cf2e;"></i></div>
                            <h4 class="title"><a href="">Magni Dolores</a></h4>
                            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-5">
                        <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
                            <div class="icon"><i class="bi bi-globe" style="color: #d6ff22;"></i></div>
                            <h4 class="title"><a href="">Nemo Enim</a></h4>
                            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-5">
                        <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
                            <div class="icon"><i class="bi bi-clock" style="color: #4680ff;"></i></div>
                            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
                            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>*@<!-- End Services Section -->
        <!-- ======= Portfolio Section ======= -->
        @*<section id="portfolio" class="portfolio">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Portfolio</h2>
                    <p>What we've done</p>
                </div>

                <ul id="portfolio-flters" class="d-flex justify-content-end" data-aos="fade-up">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-card">Card</li>
                    <li data-filter=".filter-web">Web</li>
                </ul>

                <div class="row portfolio-container" data-aos="fade-up">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="~/Website/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>App 1</h4>
                            <p>App</p>
                            <a href="~/Website/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="~/Website/assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="~/Website/assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>App 2</h4>
                            <p>App</p>
                            <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="~/Website/assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Card 2</h4>
                            <p>Card</p>
                            <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="~/Website/assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Web 2</h4>
                            <p>Web</p>
                            <a href="~/Website/assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="~/Website/assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>App 3</h4>
                            <p>App</p>
                            <a href="~/Website/assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="~/Website/assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Card 1</h4>
                            <p>Card</p>
                            <a href="~/Website/assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="~/Website/assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Card 3</h4>
                            <p>Card</p>
                            <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="~/Website/assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <a href="~/Website/assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                            <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                        </div>
                    </div>

                </div>

            </div>
        </section>*@<!-- End Portfolio Section -->
        <!-- ======= Testimonials Section ======= -->
        @*<section id="testimonials" class="testimonials">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Testimonials</h2>
                    <p>What they are saying about us</p>
                </div>

                <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="~/Website/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                <h3>Saul Goodman</h3>
                                <h4>Ceo &amp; Founder</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="~/Website/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                                <h3>Sara Wilsson</h3>
                                <h4>Designer</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="~/Website/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                                <h3>Jena Karlis</h3>
                                <h4>Store Owner</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="~/Website/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                                <h3>Matt Brandon</h3>
                                <h4>Freelancer</h4>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                                <img src="~/Website/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                                <h3>John Larson</h3>
                                <h4>Entrepreneur</h4>
                            </div>
                        </div><!-- End testimonial item -->

                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section>*@<!-- End Testimonials Section -->
        <!-- ======= Pricing Section ======= -->
        @*<section id="pricing" class="pricing">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Pricing</h2>
                    <p>Our Competing Prices</p>
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="box" data-aos="zoom-in">
                            <h3>Free</h3>
                            <h4><sup>$</sup>0<span> / month</span></h4>
                            <ul>
                                <li>Aida dere</li>
                                <li>Nec feugiat nisl</li>
                                <li>Nulla at volutpat dola</li>
                                <li class="na">Pharetra massa</li>
                                <li class="na">Massa ultricies mi</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
                        <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
                            <h3>Business</h3>
                            <h4><sup>$</sup>19<span> / month</span></h4>
                            <ul>
                                <li>Aida dere</li>
                                <li>Nec feugiat nisl</li>
                                <li>Nulla at volutpat dola</li>
                                <li>Pharetra massa</li>
                                <li class="na">Massa ultricies mi</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                        <div class="box" data-aos="zoom-in" data-aos-delay="200">
                            <h3>Developer</h3>
                            <h4><sup>$</sup>29<span> / month</span></h4>
                            <ul>
                                <li>Aida dere</li>
                                <li>Nec feugiat nisl</li>
                                <li>Nulla at volutpat dola</li>
                                <li>Pharetra massa</li>
                                <li>Massa ultricies mi</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                        <div class="box" data-aos="zoom-in" data-aos-delay="300">
                            <span class="advanced">Advanced</span>
                            <h3>Ultimate</h3>
                            <h4><sup>$</sup>49<span> / month</span></h4>
                            <ul>
                                <li>Aida dere</li>
                                <li>Nec feugiat nisl</li>
                                <li>Nulla at volutpat dola</li>
                                <li>Pharetra massa</li>
                                <li>Massa ultricies mi</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>*@<!-- End Pricing Section -->
        <!-- ======= F.A.Q Section ======= -->
        @*<section id="faq" class="faq">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>F.A.Q</h2>
                    <p>Frequently Asked Questions</p>
                </div>

                <ul class="faq-list">

                    <li>
                        <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                        <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                        <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
                            </p>
                        </div>
                    </li>

                    <li>
                        <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                        <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                            </p>
                        </div>
                    </li>

                </ul>

            </div>
        </section>*@<!-- End F.A.Q Section -->
        <!-- ======= Team Section ======= -->
        @*<section id="team" class="team">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Team</h2>
                    <p>Our Hardworking Team</p>
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up">
                            <div class="member-img">
                                <img src="~/Website/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Walter White</h4>
                                <span>Chief Executive Officer</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="100">
                            <div class="member-img">
                                <img src="~/Website/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Sarah Jhonson</h4>
                                <span>Product Manager</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="200">
                            <div class="member-img">
                                <img src="~/Website/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>William Anderson</h4>
                                <span>CTO</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="300">
                            <div class="member-img">
                                <img src="~/Website/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Amanda Jepson</h4>
                                <span>Accountant</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>*@<!-- End Team Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Contact</h2>
                    <p> اتصل بنا  </p>
                </div>

                <div class="row mt-5">

                    <div class="col-lg-4" data-aos="fade-right">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>: موقعنا</h4>
                                <p>   المملكة العربية السعودية</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>: البريد الإلكتروني</h4>
                                <p>Sales@SafeErp.com </p>
                                <p>admin@bse.com.eg </p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>: اتصل</h4>
                                <p>966582213120+ (KSA)</p>
                             </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                            </div>
                            <div class="my-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>Orange</h3>
            <p>From Business Systems Engineering ( BSE )</p>
            <div class="social-links">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>BSE</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/selecao-bootstrap-template/ -->
                @*Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>*@
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <div class="modal message_popup fade" id="MessageBoxDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="MessageBoxTitle">حذف</h4>
                </div>
                <div class="modal-body" style="max-height:200px; overflow:auto; text-align: center;">
                    <div class="col-xs-12"> <h3 id="MessageBoxMessage">هل تريد الحذف حقا</h3></div>

                    <div class="col-xs-5 text-center">
                        <i class="glyphicon btn-danger"></i>
                    </div>

                </div>
                <div class="modal-footer">
                    <button hidden="hidden" type="button" id="MessageBoxOk" class="btn btn-danger">موافق</button>
                    <button type="button" id="MessageBoxCancel" class="btn btn-warning" data-dismiss="modal">الغاء</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal message_popup fade" id="MessageBoxDialogwithoutclick" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="MessageBoxTitlewithoutclick">حذف</h4>
                </div>
                <div class="modal-body" style="max-height:200px; overflow:auto; text-align: center;">
                    <div class="col-xs-12"> <h3 id="MessageBoxMessagewithoutclick"></h3></div>

                    <div class="col-xs-5 text-center">
                        <i class="glyphicon btn-danger"></i>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <script src="~/Website/assets/vendor/aos/aos.js"></script>
    <script src="~/Website/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Website/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Website/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Website/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Website/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Website/assets/js/main.js"></script>

    <script src="~/css/UnderConstruction/js/jquery-1.11.3.min.js"></script>
    <script src="~/Style_design/plassandminus.js"></script>

    <script src="~/ClientApp/MessageBox.js"></script>


    @*<script src="~/ClientApp/ClientSite/Login/CL_LoginComponent.js"></script>*@
    <script src="~/ClientApp/Pages/LoginComponent.js"></script>
    <input type="hidden" id="GetActionUrl" name="name" value="@Url.Action("GetActionUrl","ClientTools")" />
</body>

</html>