<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Orange </title>
    <link href="~/css/bootstrap-arabic.min.css" rel="stylesheet" />
    <link href="~/css/UnderConstruction/css/main.css" rel="stylesheet" />
    <link href="~/css/UnderConstruction/css/main2.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />


    <link href="~/Website/Css/style.css" rel="stylesheet" />
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
    <div class="headerunder_constract">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9 col-xs-12">
                    <ul class="list-unstyled">
                        <li><a><i class="fa fa-phone"></i><span>(EGP) </span>+966582213120</a> </li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-12">
                    <ul class="list-unstyled listdownload">
                        <li class="active"><a href="#" target="_blank">عرض المواصفات</a></li>

                        <li><a href="#" target="_blank">الشروط والاحكام</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-default nav_underconstract">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li><img class="navbarlogo" src="~/images/logokids.png" /></li>

                </ul>
                <div class="main_log" style="margin-top: 28px;">
                    <div class="loginbtn">
                        @Html.ActionLink("الدخول", "LoginIndex", "Login", null)
                        @*<a href="#" target="_blank">دخول</a>*@

                    </div>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="info_understr">
        @*<div style="background-color:#000">
            <p class="item-1">
                <span> حالياً بالمملكة  </span>
                <span>  نظام أورانج الساحبي<img class="navbarlogo" src="/images/logokids.png"> </span>
                 <span>أول نظام متخصص في أسوق الفاكهة والخضار </span>
            </p>
            <p class="item-2">
                <span> مع Orange مارس متعة الإدارة المرنة والتميز</span>
                <span>سهولة إدارة البيع والشراءوالسداد والقبض </span>
                <span>نظام سحابي  يدعم جميع أجهزة الكمبيوتر والأجهزة اللوحية </span>
            </p>
            <p class="item-3">
                <span> تحصل على كل شيء بدون الحاجة الى خوادم وشبكات داخلية</span>
                <span>الحصول على قاعدة معلومات كاملة ومؤمنة دون اعباء اضافية</span>
            </p>
            <p class="item-4">
                <span>أول نظام متخصص في أسوق الفاكهة والخضار</span>
                <span> نظام سحابي لا يطلب وجود شبكة ولا سيرفرات   </span>
                <span> متوافق مع نظام الضريبة </span>
                <span> يدعم الفاتورة الالكترونية </span>
            </p>
            <p class="item-5">
                <span> إدارة عمليات البيع بسرعة ودقة ومرونة </span>
                <span> متابعة حساب الصندوق النقدي والكارت </span>
                <span> متابعة حسابات عملاء الأجل </span>
                <span> متابعة المشتريات وحسابات موردين الأجل  </span>
                <span>متابعة المخزون بمرونة وتتناسب مع طبيعةالعمل </span>
            </p>
            <p class="iteme-6">

                كل الاعمل أصبحت آلية ودقيقة
                <span>سداد فواتير البيع النقدية</span>
                <span>سداد فواتير البيع النقدية</span>
                <span>  سدادفواتير الشراء النقدية  </span>
                <span>  تسجيل المصروفات النثرية  </span>
                
            </p>
             

        </div>*@

        <div class="col-md-6 col-xs-12">

        </div>
        <div class="col-md-6 col-xs-12"></div>

    </div>
    <div class="line"></div>

    <div class="desc text-center">
        <div class="container-fluid">
            <h2>التعريف</h2>
            <div class="row">

                <div id="desch1" class="col-md-6 col-xs-12">
                    <h5> نظام اورنج السحابي لادارة اسوق الفاكهة والخضروات  </h5>
                    <br />
                    <h1>انتظروناً قريباً</h1>

                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="description_galler">
                        <iframe style="width: 99%;border-radius: 6px;margin-bottom: 0px;" width="560" height="315" src="https://www.youtube.com/embed/nd5Id_TqRNk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="subscribe_content">
                        <div class="pricing_plan_wrap">
                            <div class="pricing_header pricing_header2">
                                <span class="pricing_punch_1"></span>
                                <span class="pricing_punch_2"></span>
                                <span class="pricing_punch_3"></span>
                                <span class="pricing_punch_4"></span>
                                <h5> مع نظام اورانج الساحابي   </h5>
                            </div>
                            <ul class="list-unstyled">
                                <li>• يدعم شاشات اللمس والأجهزة اللوحية ونقاط البيع</li>
                                <li>• يمكن من تشغيله متابعة العمل عن بعد </li>
                                <li>• ثنائي اللغة</li>
                                <li>• مؤمن ضد الفيروسات والاخترقات</li>
                                <li>• إدارة عمليات البيع بسرعة ودقة ومرونة </li>
                                <li>• متابعة حساب الصندوق النقدي والكارت </li>
                                <li>• متابعة حسابات عملاء الأجل </li>
                                <li>• متابعة المشتريات وحسابات موردين الأجل  </li>
                                <li>•متابعة المخزون بمرونة وتتناسب مع طبيعةالعمل  </li>
                                <li>• متعدد البائعين \ متعدد الصنديق </li>
                                 <li>• متابعة مناديب المبيعات وحساب العمولات</li>
                                <li>• يمكن إضافة مستودعات إضافية</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="subscribe_content">
                        <div class="pricing_plan_wrap">
                            <div class="pricing_header pricing_header3">
                                <span class="pricing_punch_1"></span>
                                <span class="pricing_punch_2"></span>
                                <span class="pricing_punch_3"></span>
                                <span class="pricing_punch_4"></span>
                                <h5>نظام محاسبة مرن</h5>
                            </div>
                            <span>        </span>
                            <ul class="list-unstyled">
                                <li>• تصنيف  مرن للحسابات</li>
                                <li>• شجرة حسابات جاهزة وتتناسب مع النشاط </li>
                                <li>• القيد والحركات المحاسبية</li>
                                <li>• كشوف الحسابات ولاستاذ العام </li>
                                <li>• مميزان المراجعة وبيان الدخل والميزانية </li>
                                <li>• تقييم عمليات العمولة حسب الربح \المود</li>
                                <li>•  تقييم الاصناف حسب كمية ( البيع \ الربح \ التالف)</li>
                                <li>• تقييم العملاء حسب قيمة المبيعات \ سرعة السداد</li>
                                <li>• تقييم المناديب حسب قيمة المبيعات \  الربح  </li>
                             </ul>
                        </div>
                    </div>
                </div>
               
               
               
               
               
               
               

                <div class="col-md-4">
                    <div class="subscribe_content">
                        <div class="pricing_plan_wrap">
                            <div class="pricing_header">
                                <span class="pricing_punch_1"></span>
                                <span class="pricing_punch_2"></span>
                                <span class="pricing_punch_3"></span>
                                <span class="pricing_punch_4"></span>
                                <h5> كل الاعمل أصبحت آلية ودقيقة  </h5>

                            </div>
                             <ul class="list-unstyled">

                                <li>• سداد فواتير البيع النقدية  </li>
                                <li>• سدادفواتير الشراء النقدية  </li>
                                <li>• تسجيل المصروفات النثرية  </li>
                                <li>• طباعة حركة الصندوق النقدية والكروت  </li>
                                <li>• إيداع البنك وحساب رصيد الصندوق  </li>
                                <li>• فتح حساب خاص بكل تريلا</li>
                                <li>• حصر جميع مصروفات التريلا</li>
                                <li>• حصر مبيعات التريلا بمعزول عن مبيعات السوق </li>
                                <li>• إغلاق ألي لحسابات التريلا وحساب العمولات</li>
                                <li>• حساب التالف والفارغ للتريلا واستحقاق المورد</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line2"></div>
    <div class="desc videos text-center">
        <div class="container">
            <h3>فيديوهات Orange </h3>
            <div class="row">


                <div class="videodesc contnet">
                    <div class="col-md-6">


                        <div class="col-md-12 col-xs-12">
                            <iframe style="width: 99%;border-radius: 6px;margin-bottom: 0px;" width="560" height="315" src="https://www.youtube.com/embed/nd5Id_TqRNk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>
                    </div>


                    <div class="col-md-6">

                        <div class="col-md-12 col-xs-12">
                            <iframe style="width: 99%;border-radius: 6px;margin-bottom: 0px;" width="560" height="315" src="https://www.youtube.com/embed/nd5Id_TqRNk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        </div>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>


    <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <div class="contact_img">
                        <img src="~/images/logokids.png" />
                    </div>
                    <div class="contact_info">
                        <span>نظام اورانج Orangeهو نظام على بيئة الانترنت السحابية Cloud Application، يحتوي على قاعدة معلومات متكاملة لبيانات المشتركين</span>
                    </div>
                    <div class="social_media">
                        <ul class="list-unstyled">
                            <li class="facebook"><a><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a><i class="fa fa-twitter"></i></a></li>
                            <li class="google"><a><i class="fa fa-google-plus"></i></a></li>
                            <li class="linkedin"><a><i class="fa fa-linkedin"></i></a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="most_search">
                        <h4 class="contact_text">الاكثر بحثا</h4>
                        <ul class="list-unstyled">
                            <li><a href="~/Content/مواصفات نظام اورانج1.pdf" target="_blank">عرض المواصفات</a></li>
                            <li><a href="#" target="_blank">التحديثات</a></li>
                            <li><a href="#" target="_blank">العملاء</a></li>

                        </ul>

                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="most_search">
                        <h4 class="contact_text">للتواصل</h4>
                        <ul class="list-unstyled">
                            <li><a><i class="fa fa-envelope-o"></i>Sales@SafeErp.com (KSA)</a></li>
                            <li><a><i class="fa fa-phone"></i>0580312684 - 0599069758 (KSA)</a></li>
                            <li><a><i class="fa fa-envelope-o"></i>admin@bse.com.eg (EGP)</a></li>
                            <li><a><i class="fa fa-phone"></i>01117283763 - <span> 37452680</span> 02 (EGP)</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="subscribe_mesg">
                        <h4 class="contact_text">لأستفسار</h4>
                        <div class="widgetcontent">
                            <input type="text" placeholder="البريد الالكتروني" />
                            <textarea placeholder="الاستفسار"></textarea>
                            <button class="btn btn-default">ارسال</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="row">
            <span>جميع الحقوق محفوظة لدي شركة   </span><span>Bse </span>
        </div>
    </div>

    <script src="~/css/UnderConstruction/js/jquery-1.11.3.min.js"></script>
    <script src="~/css/UnderConstruction/js/bootstrap.min.js"></script>
</body>
</html>