<link href="~/Content/MainLoading.css" rel="stylesheet" />


<div class="loader">
    <div class="holder">
        <div class="box"></div>
    </div>
    <div class="holder">
        <div class="box"></div>
    </div>
    <div class="holder">
        <div class="box"></div>
    </div>
</div>
