@using Inv.WebUI.Resources
@*//eslam 2 nov 2020*@

<html>
<head>

    <link href="~/Scripts/JsGrid/jsgrid.min.css" rel="stylesheet" />
    <link href="~/Scripts/JsGrid/jsgrid-theme.min.css" rel="stylesheet" />
    <link href="~/Scripts/jsgrid/jsgrid-theme.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />


</head>

<body>

    <div class="modal fade" id="PopupDialogpicture" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div id="Bodypicture" class=" modal-body col-lg-12 col-xs-12 " style="width: 80%;">
                    <button style="margin-top: 3px;" type="button" class="close" data-dismiss="modal">&times;</button>


                </div>
            </div>
        </div>
    </div>


    @*datatable For search*@

    <script src="~/Style_design/js/vendor/jquery-1.11.3.min.js"></script>
    <script src="~/ClientApp/JsGrid.js"></script>
    <script src="~/Scripts/jsgrid/jsgrid.js"></script>
    @*<script src="~/js/my_js.js"></script>*@
    <script src="~/js/bootstrap.min.js"></script>

    <!-- bootstrap JS
    ============================================ -->
    <script src="~/Style_design/js/bootstrap.min.js"></script>
    <!-- meanmenu JS
    ============================================ -->
    <script src="~/Style_design/js/jquery.meanmenu.js"></script>
    <!-- mCustomScrollbar JS
    ============================================ -->
    <script src="~/Style_design/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- sticky JS
    ============================================ -->
    <script src="~/Style_design/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
    ============================================ -->
    <script src="~/Style_design/js/jquery.scrollUp.min.js"></script>
    <!-- counterup JS
    ============================================ -->
    <script src="~/Style_design/js/counterup/jquery.counterup.min.js"></script>
    <script src="~/Style_design/js/counterup/waypoints.min.js"></script>
    <!-- dropzone JS
    ============================================ -->
    <script src="~/Style_design/js/dropzone.js"></script>
    <!-- multiple email JS
    ============================================ -->
    <script src="~/Style_design/js/multiple-email/multiple-email-active.js"></script>
    <!-- summernote JS
    ============================================ -->
    <script src="~/Style_design/js/summernote.min.js"></script>
    <script src="~/Style_design/js/summernote-active.js"></script>
    <!-- main JS
    ============================================ -->
    <script src="~/Style_design/js/vendor/modernizr-2.8.3.min.js"></script>
    @*End Data table*@
</body>
</html>
