@using Inv.WebUI.Resources
@*//eslam 2 nov 2020*@

<html>
<head>
  
</head>

<body>

    <div class="modal fade" id="PopupDialog" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div id="PopupBody" class=" modal-body col-lg-12 col-xs-12 ">


                </div>
            </div>
        </div>
    </div>

 
 
</body>
</html>